@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

*{
    font-family: 'Teko', sans-serif;
}
h1,h2,h3{
    text-align: center; 
    /* color: white; */
}
h3{
    color: gray;
}
body{
    background-color: #544E81;
}
.founder-card{
    background-color: #202429;
    color: white;
    width: 50%;
}
@media (max-width:700px) {
    .founder-card{
        width: 100%;
    }
    
}
.dropdown-menu{
    background-color: #9b9d9e;
}
div.row{
    margin-right: 0;
    margin-left: 0;
}


